# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
.eggs/
*.egg

# Django
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
media/
staticfiles/

# Environments
.venv/
venv/
ENV/
env/

# VSCode
.vscode/

# PyCharm
.idea/

# OS
.DS_Store
Thumbs.db

# Docker
*.pid
docker-compose.override.yml

# Env
.env

# MinIO
minio_data/

# Postgres
postgres_data/

# Redis
db.sqlite3
redis_data/

# Misc
*.bak
*.swp
*.swo
*~ 